<input type="button" value="new Memo" onclick="javascript:Location.href='/'">
<table>
  <tr>
    <td>
      <%= row.id %>
    </td>
  </tr>
  <tr>
    <td>
      <%= row.create_time %>
    </td>
  </tr>
  <tr>
    <td><%= row.name %></td>
  </tr>
</table>