<form action="/productW" method="post" enctype="multipart/form-data">
  <div>
    <input type="text" name="product_name">
  </div>
  <div>
    <input type="text" name="product_price">
  </div>
  <div>
    <input type="file" name="product_img">
  </div>
  <div>
    <input type="submit" value="저장">
  </div>

</form>